# Data Structures

There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* Dictionary is a collection which is ordered** and changeable. No duplicate members.

# List

* Lists are used to store multiple items in a single variable.
* Lists are created using square brackets
* List items are ordered, changeable, allow duplicate values and indexed.

In [1]:
#Homogeneous list
List1=[1,2,3]
List1

[1, 2, 3]

In [2]:
List2=[1,2,3,4,4]
List2

[1, 2, 3, 4, 4]

In [3]:
List4=[87,89,55,11,44]
List4

[87, 89, 55, 11, 44]

In [4]:
L1=[11.11,22.22,33.33,89.22]
L1

[11.11, 22.22, 33.33, 89.22]

In [5]:
L2=["a","b","c","d","e","f"]
L2

['a', 'b', 'c', 'd', 'e', 'f']

In [6]:
fruitlist=["apple","grapes","Kiwi","mango"]
fruitlist

['apple', 'grapes', 'Kiwi', 'mango']

In [7]:
#len function gives the length of the list
len(fruitlist)

4

In [8]:
#heterogeneous list
Mixedlist=[1,55.99,"apple",88,"l"]
Mixedlist

[1, 55.99, 'apple', 88, 'l']

In [9]:
# indexing returns the item
fruitlist

['apple', 'grapes', 'Kiwi', 'mango']

In [10]:
fruitlist[0]

'apple'

In [12]:
#to add data in the list we need to perform append function

fruitlist.append("pineapple")
fruitlist

['apple', 'grapes', 'Kiwi', 'mango', 'pineapple', 'pineapple']

In [13]:
#to add multiple data in list to need to use extend function

fruitlist.extend(["guava","jackfruit","Papaya"])

In [14]:
fruitlist

['apple',
 'grapes',
 'Kiwi',
 'mango',
 'pineapple',
 'pineapple',
 'guava',
 'jackfruit',
 'Papaya']

**N.B. if we use append method to add more than one data in the list than it will create another list inside the existence list**

In [16]:
#to add the data in certain position (index,"value")

fruitlist.insert(2,"lichi")

In [17]:
fruitlist

['apple',
 'grapes',
 'lichi',
 'Kiwi',
 'mango',
 'pineapple',
 'pineapple',
 'guava',
 'jackfruit',
 'Papaya']

In [18]:
#another Example
fruitlist.insert(4,"Dragonfruit")
fruitlist

['apple',
 'grapes',
 'lichi',
 'Kiwi',
 'Dragonfruit',
 'mango',
 'pineapple',
 'pineapple',
 'guava',
 'jackfruit',
 'Papaya']

In [19]:
#if we would like to view the index of any particular item in the list we can use

fruitlist.index("Kiwi")

3

In [20]:
#sort function will sort the data in the list
fruitlist.sort()
fruitlist

['Dragonfruit',
 'Kiwi',
 'Papaya',
 'apple',
 'grapes',
 'guava',
 'jackfruit',
 'lichi',
 'mango',
 'pineapple',
 'pineapple']

In [21]:
#to view the data in desecnding order in the list
fruitlist.reverse()
fruitlist

['pineapple',
 'pineapple',
 'mango',
 'lichi',
 'jackfruit',
 'guava',
 'grapes',
 'apple',
 'Papaya',
 'Kiwi',
 'Dragonfruit']

In [22]:
#To remove data from the list, we need to use pop function
fruitlist.pop()

'Dragonfruit'

In [23]:
#suppose we need to delete data from certain position from the list we need to use index number
fruitlist.pop(1)

'pineapple'

In [24]:
#Another way to remove certain data from the list, we can use remove finction
fruitlist.remove("guava")

In [25]:
fruitlist

['pineapple',
 'mango',
 'lichi',
 'jackfruit',
 'grapes',
 'apple',
 'Papaya',
 'Kiwi']

In [26]:
#to remove all the data from the list, we can use clearfunction
fruitlist.clear()
fruitlist

[]

In [27]:
#Now if we one to add data insite the list we can use, append or extend function
fruitlist.append("Mango")
fruitlist

['Mango']

In [28]:
fruitlist.extend(["Lichi","Peach","Water_melon","Sugar_cane"])
fruitlist

['Mango', 'Lichi', 'Peach', 'Water_melon', 'Sugar_cane']

In [29]:
fruitlist+["Banana","Cherry","Strawberry"] 
#this will not change the List, to hold the changes we need to keep it inside variable

['Mango',
 'Lichi',
 'Peach',
 'Water_melon',
 'Sugar_cane',
 'Banana',
 'Cherry',
 'Strawberry']

In [30]:
fruitlist

['Mango', 'Lichi', 'Peach', 'Water_melon', 'Sugar_cane']

In [31]:
#Slicing Operation

fruitlist[0:1]

['Mango']

In [32]:
fruitlist[0:2]

['Mango', 'Lichi']

In [33]:
fruitlist[2:]

['Peach', 'Water_melon', 'Sugar_cane']

In [34]:
fruitlist[3:5]

['Water_melon', 'Sugar_cane']

In [35]:
fruitlist[:4]

['Mango', 'Lichi', 'Peach', 'Water_melon']

In [36]:
#to know the index

fruitlist.index("Peach")

2

In [37]:
#to change any data from the particular list we can use.
#you can see Peach is replaced with Pear

fruitlist[2]="Pear"

In [38]:
fruitlist

['Mango', 'Lichi', 'Pear', 'Water_melon', 'Sugar_cane']

In [39]:
#to Delete the entire list with all the data inside it

del fruitlist

In [40]:
fruitlist

NameError: name 'fruitlist' is not defined

**List Methods**

* append() Adds an element at the end of the list
* clear() Removes all the elements from the list
* copy() Returns a copy of the list
* count() Returns the number of elements with the specified value
* extend() Add the elements of a list (or any iterable), to the end of the current list
* index() Returns the index of the first element with the specified value
* insert() Adds an element at the specified position
* pop() Removes the element at the specified position
* remove() Removes the item with the specified value
* reverse() Reverses the order of the list
* sort() Sorts the list

# Tuples

* Tuples are used to store multiple items in a single variable.
* Tuples are written with round brackets.
* Tuple items are ordered, unchangeable, allow duplicate values and indexed.

In [42]:
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [43]:
t2=(11,44,66,88,34)
t2

(11, 44, 66, 88, 34)

In [44]:
t3=(99,55,34,23,87,36)
t3

(99, 55, 34, 23, 87, 36)

In [45]:
t4=("a","b","C")
t4

('a', 'b', 'C')

In [46]:
#check index
t3[5]

36

**Tuple Methods**
* count() Returns the number of times a specified value occurs in a tuple
* index() Searches the tuple for a specified value and returns the position of where it was found

# Dictionaries

* Dictionaries are used to store data values in key:value pairs.
* A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
* Dictionaries are written with curly brackets

dict1={key1:Value1, key2:Value2, key2:Value2,}

In [48]:
dict1={"id":1,"name":"Avijit","grade":5}
dict1

{'id': 1, 'name': 'Avijit', 'grade': 5}

In [49]:
#this function will show only the keys
dict1.keys()

dict_keys(['id', 'name', 'grade'])

In [50]:
#this function will show only the values
dict1.values()

dict_values([1, 'Avijit', 5])

In [51]:
#this function will show both keys & values
dict1.items()

dict_items([('id', 1), ('name', 'Avijit'), ('grade', 5)])

In [52]:
#We can also view particular data with this function
dict1["grade"]

5

In [53]:
#dictionaries are mutable, so you acn edit any data inside it
dict1["grade"]=9
dict1

{'id': 1, 'name': 'Avijit', 'grade': 9}

In [54]:
#to update any dictionary
dict1.update({"fees":2000})
dict1

{'id': 1, 'name': 'Avijit', 'grade': 9, 'fees': 2000}

In [55]:
#We can also print the result using the values

dict1["name"]

'Avijit'

In [56]:
print("dict1[name]:",dict1["name"])

dict1[name]: Avijit

In [57]:
#to delete particular key from the dictionary, we need to use pop or del operation
dict1.pop("fees")

2000

In [58]:
dict1

{'id': 1, 'name': 'Avijit', 'grade': 9}

In [59]:
del dict1["grade"]

dict1

{'id': 1, 'name': 'Avijit'}

In [60]:
dict1.clear()

dict1

{}

In [61]:
del dict1
dict1

NameError: name 'dict1' is not defined

In [62]:
#to add collection of data in dictionary
dict={"id":[1,2,3],"name":["Amita","Avijit","Amy"],"grade":[9,8,7]}
dict

{'id': [1, 2, 3], 'name': ['Amita', 'Avijit', 'Amy'], 'grade': [9, 8, 7]}

In [63]:
dict["id"]

[1, 2, 3]

In [64]:
dict["name"]

['Amita', 'Avijit', 'Amy']

In [65]:
dict["id"][2]

3

In [66]:
#to update the dictionary we can use below function

dict["name"][2]="Rima"
dict

{'id': [1, 2, 3], 'name': ['Amita', 'Avijit', 'Rima'], 'grade': [9, 8, 7]}

In [67]:
dict["grade"][0]=10

In [68]:
dict

{'id': [1, 2, 3], 'name': ['Amita', 'Avijit', 'Rima'], 'grade': [10, 8, 7]}

In [69]:
#we can use pop operation to delete
dict.pop("grade")

[10, 8, 7]

In [70]:
dict

{'id': [1, 2, 3], 'name': ['Amita', 'Avijit', 'Rima']}

In [71]:
del dict

In [73]:
#another list

p={10:"java",20:"php",30:"python"}

In [74]:
p

{10: 'java', 20: 'php', 30: 'python'}

In [75]:
p.update({40:"html"})

In [76]:
p

{10: 'java', 20: 'php', 30: 'python', 40: 'html'}

In [77]:
#if we want to view the value of any data
p[40]

'html'

In [78]:
#if we want to update it, we can use this function
p[40]="wordpress"

In [79]:
p

{10: 'java', 20: 'php', 30: 'python', 40: 'wordpress'}

In [80]:
#to delete we can use pop

p.pop(10)

'java'

In [81]:
p

{20: 'php', 30: 'python', 40: 'wordpress'}

In [82]:
p.clear()

In [83]:
p

{}

In [84]:
del p
p

NameError: name 'p' is not defined

**Dictionary Methods**
* clear()	Removes all the elements from the dictionary
* copy()	Returns a copy of the dictionary
* fromkeys()	Returns a dictionary with the specified keys and value
* get()	Returns the value of the specified key
* items()	Returns a list containing a tuple for each key value pair
* keys()	Returns a list containing the dictionary's keys
* pop()	Removes the element with the specified key
* popitem()	Removes the last inserted key-value pair
* setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
* update()	Updates the dictionary with the specified key-value pairs
* values()	Returns a list of all the values in the dictionary

# Sets

* sets are unordered collection of data set
* sets are not indexed No duplicates allowed it is immutable(non editable)

In [85]:
s1={1,2,3}
s1

{1, 2, 3}

In [86]:
#set dont allow dupicate values, for eg: u will see only once 10 is added
s2={10,55,69,87,89,10,24,23,10}
s2

{10, 23, 24, 55, 69, 87, 89}

In [87]:
#dont allow index, it will through error
s2[0]

TypeError: 'set' object is not subscriptable

In [88]:
s2

{10, 23, 24, 55, 69, 87, 89}

In [89]:
#it wont be allow to update as well in set
s2[4]=500

TypeError: 'set' object does not support item assignment

In [90]:
s2

{10, 23, 24, 55, 69, 87, 89}

In [91]:
type(s2)

set

In [92]:
s2.remove(55)
s2

{10, 23, 24, 69, 87, 89}

In [93]:
s2.pop()

89

In [94]:
del s2

s2

NameError: name 's2' is not defined

**Set Methods**

* add()	Adds an element to the set
* clear()	Removes all the elements from the set
* copy()	Returns a copy of the set
* difference()	Returns a set containing the difference between two or more sets
* difference_update()	Removes the items in this set that are also included in another, specified set
* discard()	Remove the specified item
* intersection()	Returns a set, that is the intersection of two other sets
* intersection_update()	Removes the items in this set that are not present in other, specified set(s)
* isdisjoint()	Returns whether two sets have a intersection or not
* issubset()	Returns whether another set contains this set or not
* issuperset()	Returns whether this set contains another set or not
* pop()	Removes an element from the set
* remove()	Removes the specified element
* symmetric_difference()	Returns a set with the symmetric differences of two sets
* symmetric_difference_update()	inserts the symmetric differences from this set and another
* union()	Return a set containing the union of sets
* update()	Update the set with the union of this set and others