List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

List comprehension only works for FOR Loop

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [2]:
#With list comprehension you can do all that with only one line of code:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

### The Syntax

**newlist = [expression for item in iterable if condition == True]**

The return value is a new list, leaving the old list unchanged.

### Condition

The condition is like a filter that only accepts the items that valuate to True.

In [3]:
#Example Only accept items that are not "apple":

newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

The condition if x != "apple" will return True for all elements other than "apple", making the new list contain all fruits except "apple".

In [4]:
#Example With no if statement:

newlist = [x for x in fruits]

newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

### Iterable

The iterable can be any iterable object, like a list, tuple, set etc.

In [5]:
#Example: You can use the range() function to create an iterable:

newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Same example, but with a condition:

In [6]:
#Example: Accept only numbers lower than 5:

newlist = [x for x in range(10) if x < 5]

In [7]:
newlist

[0, 1, 2, 3, 4]

### Expression

The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [8]:
#Example: Set the values in the new list to upper case:

newlist = [x.upper() for x in fruits]
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

You can set the outcome to whatever you like:

In [9]:
#Example: Set all values in the new list to 'hello':

newlist = ['hello' for x in fruits]
newlist

['hello', 'hello', 'hello', 'hello', 'hello']

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [12]:
#Example: Return "orange" instead of "banana":

newlist = [x if x != "banana" else "orange" for x in fruits]

In [13]:
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

The expression in the example above says:

"Return the item if it is not banana, if it is banana return orange".

In [14]:
p=[index for index in [1,2,3]]

In [15]:
for i in [1,2,3]:
    print(i)

1
2
3

In [16]:
p=[i for i in [1,2,3]]

print(p)

[1, 2, 3]

In [17]:
k=[index for index in range(1,15) if index%2==0]
k

[2, 4, 6, 8, 10, 12, 14]

In [18]:
d=[p for p in range(1,15) if p%2!=0]
d

[1, 3, 5, 7, 9, 11, 13]