## Numbers and normal arithmetic operations

In [1]:
#normal Addition
1+1

2

In [2]:
#normal subtraction
2-1

1

In [3]:
#normal Multiplication
2*3

6

In [4]:
#normal Divide
10/2

5.0

In [5]:
#Floor Division is reprensted by // and if we use floor division it will cut the decimal part 

10//2

5

In [6]:
#Power Function is represnted by ** sign

2**3

8

## Variables

variables are container which is used to store any data

In [8]:
a=50

a

50

In [9]:
b=10
b

10

In [10]:
c=a+b
c

60

In [11]:
d=a-b
d

40

In [12]:
e=a*b
e

500

In [13]:
#Area of rectangle

Length=10
Width=20

Area=Length*Width
print("area of rectangle =",Area)

area of rectangle = 200

In [14]:
#Len Function will give us the length of the string
len("Mumbai")

6

## Comparison Operator

Comparison operators are used to compare two values

 == Equal
 != Not Equal
 > Greater than
 < Less than
 >= Greater than or equal to
 <= Less than or equalto

In [22]:
100==100

True

In [16]:
100>80

True

In [17]:
90<500

True

In [18]:
40!=50

True

In [19]:
100<=100

True

In [24]:
50>=100

False

## String Concetenation

String concatenation means add strings together.

Use the `+` character to add a variable to another variable:

In [25]:
"hello"+" Python"

'hello Python'

In [26]:
"Elon" + " Mask"+" Ceo of"+" Twitter."

'Elon Mask Ceo of Twitter.'

In [27]:
"8"+"8"

'88'

In [28]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

## Data Types (char/string, Integer, Float, boolean)

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

In [30]:
name="Avijit"
print(name)

Avijit

In [32]:
tem=102.5
tem

102.5

In [34]:
Age=37
Age

37

In [37]:
#Type () helps us to lknow the datatype of the variable

type(name)

str

In [38]:
type(tem)

float

In [39]:
type(Age)

int

### Converting Datatype

In [40]:
A=5
type(A)

int

In [41]:
#converting int to float

af=float(A)

type(af)

float

In [42]:
# to convert any datatype in python, it should be hold in a new variable, suppose

X="20"

type(x)

str

In [43]:
#to Convert the datatype we need to hold the value in any new variable, such as

Integer=int(X)
Integer

20

In [44]:
type(Integer)

int

In [45]:
m= "5"
n= "6"

m+n

'56'

In typecasting we have to write the value int(m)+int(n) or you can convert the m and n seperately then do the mathematical operation:

**int(m)+int(n)**

In [46]:
int(m)+int(n)

11

## User Input

In [48]:
country = input("Enter any country name :")
country

Enter any country name :UAE

'UAE'

In [49]:
x=input("Enter first number")
x

Enter first number24

'24'

In [50]:
y=input("Enter second number")
y

Enter second number23

'23'

In [51]:
"""to do the addition of user input number we need to convert the values in integar(int)
as user input in python always takes values in string"""

int(x)+int(y)

47

In [52]:
#another way of doing it is:

x=int(input("Enter first number"))
y=int(input("Enter second number"))

x+y

Enter first number24
Enter second number23

47

In [53]:
#Area of rectangle taking user input

Length=int(input("Enter length "))
print("Length=",Length)

Breadth=int(input("Enter Breadth "))
print("Breadth",Breadth)

area=Length*Breadth
print("Area of the rectancle is",area)

Enter length 23
Length= 23
Enter Breadth 24
Breadth 24
Area of the rectancle is 552

In [54]:
#Area of circle

radius=int(input("enter the radius"))
pi=3.14
area_of_circle=pi*(radius**2)
print("Radius of circle is ",radius,"Area of Circle is",area_of_circle)

enter the radius12
Radius of circle is  12 Area of Circle is 452.16

In [55]:
#round function helps to control after decimal values

round(area_of_circle,2)

452.16

In [56]:
#circumference_of_circle=2pir

cirmcumference=2*pi*radius
print(cirmcumference)
print(round(cirmcumference,2))

75.36
75.36