Python has two primitive loop commands:

1. while loops
2. for loops

# while Loop

With the while loop we can execute a set of statements as long as a condition is true.

In [1]:
#initialization
i=0

#condition
while(i<3):
    print(i)
    i=i+1               #increment

0
1
2

In [2]:
i=0
while(i<10):
    print(i,end=" ")  #to get the answer in horizontal way
    i=i+1

0 1 2 3 4 5 6 7 8 9

In [3]:
#creating a table taking user input

j=int(input('enter any number to create the table'))

i=0
while(i<=10):
    print(j*i)
    i=i+1

enter any number to create the table5
0
5
10
15
20
25
30
35
40
45
50

In [4]:
#creating a table taking user input

j=int(input('enter any number to create the table'))

i=1
while(i<=10):
    print(j,"*",i,"=",j*i) #use to print ("2*1= 2")
    i=i+1

enter any number to create the table6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

# FOR LOOP

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [5]:
for index in [10,20,30]:
    print(index)

10
20
30

In [6]:
for index in [1,2,3]:
    print(index)
    print("inside loop")
print("After ending the loop") #not inside the loop

1
inside loop
2
inside loop
3
inside loop
After ending the loop

In [7]:
#range function

range(5)

range(0, 5)

In [8]:
range(2)

range(0, 2)

In [9]:
#range inside the list

list(range(5))

[0, 1, 2, 3, 4]

In [10]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [11]:
#list(range(start,end))

list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [13]:
#jump in range

"""range(start,end, jump)"""

list(range(0,10,2))

[0, 2, 4, 6, 8]

In [14]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [15]:
for i in range(0,20,5):
    print(i)

0
5
10
15

In [16]:
#creating a table taking user input

i=int(input('enter any number '))

for j in range(1,11):
    print(j)

enter any number 5
1
2
3
4
5
6
7
8
9
10

In [17]:
#creating a table taking user input

i=int(input('enter any number '))

for j in range(1,11):
    print(i,"*",j,"=",i*j)

enter any number 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50