Loops /if

In [1]:
x=0

#define a while loop

while(x <4):

  print(x)

  x = x+1

0
1
2
3

In [3]:
#Task: Print First 10 natural numbers using while loop

i=1
while(i<10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

In [4]:
for x in range(2,7):

  print(x)

2
3
4
5
6

In [5]:
Months = ["Jan","Feb","Mar","April","May","June"]

for m in Months:

  print(m)

Jan
Feb
Mar
April
May
June

In [6]:
# Measure some strings:

words = ['cat', 'window', 'defenestrate']

for w in words:
    print(w)

for w in words:
    print(w, len(w))

cat
window
defenestrate
cat 3
window 6
defenestrate 12

In [7]:
# Range

range(5, 10)

range(5, 10)

In [8]:
range(0, 10, 3)

range(0, 10, 3)

In [9]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
a = ['Mary', 'had', 'a', 'little', 'lamb']

for i in range(len(a)):

 print(i)

0
1
2
3
4

In [13]:
x=8
y=4

if(x < y):
    st= "x is less than y"
else:
    st= "x is greater than y"

print (st)

x is greater than y

In [15]:
x = int(input("Please enter an integer: "))

#Please enter an integer: 42

if x < 0:
    x = 0
    print('Negative changed to zero')

elif x == 0:
    print('Zero')

elif x == 1:
    print('Single')

else:
    print('More')

Please enter an integer: 42
More

In [1]:
#Task :write a program using if-elif with different country value and total values.

total = 100

#country = "US"

country = "AU"

if country == "US":

    if total <= 50:

        print("Shipping Cost is $50")

elif total <= 100:
    print("Shipping Cost is $25")

elif total <= 150:

     print("Shipping Costs $5")

else:

        print("FREE")

if country == "AU":

   if total <= 50:

     print("Shipping Cost is $100")

else:

     print("FREE")

Shipping Cost is $25

In [17]:
#Task : write a program to find even or odd using for loop /range function.

for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
        print("Found a number", num)

Found an even number 2
Found an even number 4
Found an even number 6
Found an even number 8

In [4]:
#Task :write two different loops for break if x is even number and continue when the number is divide by 5.

# use the break and continue statements
for x in range(10,20):
    if (x==15):
        break
        #if (x % 2 == 0) : continue
        print(x)

In [5]:
# use the break and continue statements

for x in range (10,20):

   #if (x == 15): break

   if (x % 5 == 0) : continue

   print(x)

11
12
13
14
16
17
18
19

In [6]:
#Task:Display numbers divisible by 5 from a list.Iterate the given list of numbers and print only those numbers which are divisible by 5.


num_list = [10, 20, 33, 46, 55]

print("Given list:", num_list)

print('Divisible by 5:')

for num in num_list:

    if num % 5 == 0:

        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

In [7]:
#Task: Calculate the sum of all numbers from 1 to a given number

# s: store sum of all numbers

s = 0

n = int(input("Enter number "))

# run loop n times

# stop: n+1 (because range never include stop number in result)

for i in range(1, n + 1, 1):

    # add current number to sum variable

    s =s+i

print("\n")

print("Sum is: ", s)

Enter number 2


Sum is:  3

In [8]:
#Task: Write a program to print multiplication table of a given number


n = 2

# stop: 11 (because range never include stop number in result)

# run loop 10 times

for i in range(1, 11, 1):

    # 2 *i (current number)

    product = n * i

    print(product)

2
4
6
8
10
12
14
16
18
20

Practice below codes for list comprehension

In [10]:
vec = [-4, -2, 0, 2, 4]

# create a new list with the values doubled

[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [11]:
# filter the list to exclude negative numbers

[x for x in vec if x >= 0]

[0, 2, 4]

In [12]:
# apply a function to all the elements

[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [14]:
# call a method on each element

freshfruit = [' banana', ' loganberry ', 'passion fruit ']

[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [15]:
# create a list of 2-tuples like (number, square)

[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [16]:
#To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while leaving the source unaltered.

basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [17]:
#To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the reversed() function.

for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

### If -Elif practice

In [18]:
today = 'Wednesday'

 

if today == 'Sunday':

    print("Today is the day of the sun.")

elif today == 'Monday':

    print("Today is the day of the moon.")

elif today == 'Tuesday':

    print("Today is the day of Tyr, the god of war.")

elif today == 'Wednesday':

    print("Today is the day of Odin, the supreme diety.")

elif today == 'Thursday':

    print("Today is the day of Thor, the god of thunder.")

elif today == 'Friday':

    print("Today is the day of Frigga, the goddess of beauty.")

elif today == 'Saturday':

    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of Odin, the supreme diety.

### Using `if`, `elif`, and `else` together

You can also include an `else` statement at the end of a chain of `if`, `elif`... statements. This code within the `else` block is evaluated when none of the conditions hold true.

In [20]:
a_number = 49

 

if a_number % 2 == 0:

    print('{} is divisible by 2'.format(a_number))

elif a_number % 3 == 0:

    print('{} is divisible by 3'.format(a_number))

elif a_number % 5 == 0:

    print('{} is divisible by 5'.format(a_number))

else:

    print('All checks failed!')

    print('{} is not divisible by 2, 3 or 5'.format(a_number))

All checks failed!
49 is not divisible by 2, 3 or 5

In [21]:
#Ranges are used for iterating over lists when you need to track the index of elements while iterating.

a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

 

for i in range(len(a_list)):

    print('The value at position {} is {}.'.format(i, a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

### break, continue and pass statements

Similar to while loops, for loops also support the break and continue statements. break is used for breaking out of the loop and continue is used for skipping ahead to the next iteration.

In [22]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

 

for day in weekdays:

    print('Today is {}'.format(day))

    if (day == 'Wednesday'):

        print("I don't work beyond Wednesday!")

        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [23]:
for day in weekdays:

    if (day == 'Wednesday'):

        print("I don't work on Wednesday!")

        continue

    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work on Wednesday!
Today is Thursday
Today is Friday