In [1]:
8+4

12

In [2]:
16*5

80

In [3]:
50 - 5*6

20

In [4]:
(50 - 5*6) / 4

5.0

#Now Write comment

#This is my first program.

In [5]:
print("Hello, World")

Hello, World

In [6]:
# The comments are longer than the code!

In [9]:
greeting = "Hello World of Python"
print(greeting)

Hello World of Python

In [12]:
# division always returns a floating point number

8 / 5

1.6

In [13]:
# classic division returns a float

17 / 3

5.666666666666667

In [14]:
# floor division discards the fractional part

17 // 3

5

In [15]:
# the % operator returns the remainder of the division

17 % 3

2

In [20]:
# result * divisor + remainder

5*3+2

17

In [18]:
# 5 squared

5**2

25

In [21]:
# 2 to the power of 7

2**7

128

In [39]:
#Task: Now try to print height yourself

width = 20
height = 5*9
width * height

print("Width =",width)
print ("Height =",height)
print("The value of width=",width) 
print("The value of width is=", width) 
print("Value=",width*height)

Width = 20
Height = 45
The value of width= 20
The value of width is= 20
Value= 900

In [37]:
#Task: Now try to print tax and price yourself

tax = 12.5/100

price = 100.50

price*tax

print(tax)
print(price*tax)

0.125
12.5625

In [33]:
# String concatenation

"The "+"Sun"

'The Sun'

In [34]:
"The "+"Moon"

'The Moon'

In [35]:
"Planets"+" Universe"

'Planets Universe'

In [42]:
#Task: 1. Create two strings, concatenate them, and print the resulting string.

string1 = "Elon"

string2 = "Musk"

magic_string = string1 + string2

magic_string

'ElonMusk'

In [43]:
#Task : 2. Make variable firstname and lastname and concatnate them with space.

firstname="Avijit"
lastname="Sur"

Name=firstname+" "+lastname
Name

'Avijit Sur'

In [47]:
# User Input

prompt = "Hey, what's up?"
user_input = input(prompt)
print("You said: " + user_input)

Hey, what's up?great
You said: great

In [48]:
#Task: Take user input and make twice of that number

num=input("Enter any number")
doubled_num = num * 2

print(doubled_num)

Enter any number8
88

In [49]:
#Task: Take user input and make twice of that number and typecast it to float.
num = input("Enter a number to be doubled: ")

doubled_num = float(num) * 2

print(doubled_num)

Enter a number to be doubled: 5
10.0

#Task : 1
Write a program that uses input() twice to get two numbers from
the user, multiplies the numbers together, and displays the result.
If the user enters 2 and 4, then your program should print the
following text:

    The product of 2 and 4 is 8.0.

In [52]:
num1=input("Enter your first number")
num2=input("Enter your second number")

product=int(num1)*int(num2)
print("The product of",num1," and",num2," is",product)

Enter your first number2
Enter your second number4
The product of 2  and 4  is 8

2.Calculate simple interest by taking user input for priciple,rate and time .
p=int(input("Enter principle"))

----

----

---

simple_interest=(p*r*t)/100

In [57]:
P=int(input("Enter principle"))
R=int(input("Enter the rate"))
T=int(input("enter the time"))

SI=(P*R*T)/100

print("Principle =",P)
print("Rate =",R)
print("Time =",T)
print("Simple Interest is ",SI)

Enter principle7000
Enter the rate8
enter the time5
Principle = 7000
Rate = 8
Time = 5
Simple Interest is  2800.0

In [58]:
# Find length

len("abc")

letters = "abc"

len(letters)

3

In [60]:
#Task: Create a string and print its length using len().

String="My name is Amita"
len(String)

16

EXERCISE:

A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars.
So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket,
what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [65]:
Plane_cost= 5000
People=29
Charges = 200

Total_Charges_company_collect=People*Charges
print(Total_Charges_company_collect)
Total_Profit=Total_Charges_company_collect-Plane_cost
print(Total_Profit)

5800
800

# Questions

What is a Jupyter notebook?

How do you add a new code cell below an existing cell?

How do you add a new Markdown cell below an existing cell?

How do you convert a code cell to a Markdown cell or vice versa?

How do you execute a code cell within Jupyter?

What the different arithmetic operations supported in Python?

How do you perform arithmetic operations using Python?

What is the difference between the / and the // operators?

What is the difference between the * and the ** operators?

What is the order of precedence for arithmetic operators in Python?

How do you specify the order in which arithmetic operations are performed in an expression involving multiple operators?

How do you solve a multi-step arithmetic word problem using Python?

What are variables? Why are they useful?

How do you create a variable in Python?

What is the assignment operator in Python?

What are the rules for naming a variable in Python?

How do you view the value of a variable?

How do you store the result of an arithmetic expression in a variable?

What happens if you try to access a variable that has not been defined?

How do you display messages in Python?

What type of inputs can the print function accept?

What are code comments? How are they useful?

What are the different ways of creating comments in Python code?

What are the different comparison operations supported in Python?

What is the result of a comparison operation?

What is the difference between = and == in Python?

What are the logical operators supported in Python?

What is the difference between the and and or operators?

Can you use comparison and logical operators in the same expression?

What is the purpose of using parentheses in arithmetic or logical expressions?

What is Markdown? Why is it useful?

**1. What is a Jupyter notebook?**

The Jupyter Notebook is an open source web application that you can use to create and share documents that contain live code, equations, visualizations, and text.

**2. How do you add a new code cell below an existing cell?**

We can use either the Menu tools or Keyboard Shortcuts to create new cells.

* Keyboard shortcut: Esc + a (above), Esc + b (below)
* Menu Toolbar: Insert→ Insert Cell Above OR Insert → Insert Cell Below

**3. How do you add a new Markdown cell below an existing cell?**

The default cell type for new cells is Code, you can change the cell type of any existing cell by clicking in the cell and selecting a new cell type (e.g. Markdown) in the cell type menu in the toolbar.